<!DOCTYPE html>
<html>
<head>
    <title>Inscription de l'administrateur</title>
</head>
<body>
    <h1>Inscription de l'administrateur</h1>
    <form method="POST">
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Inscrire l'administrateur">
    </form>
</body>
</html>
